<%= form_with(model: tweet, local: true) do |form| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id_str %>
    <%= form.text_field :id_str %>
  </div>

  <div class="field">
    <%= form.label :source %>
    <%= form.text_field :source %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text %>
  </div>

  <div class="field">
    <%= form.label :created_at %>
    <%= form.datetime_select :created_at %>
  </div>

  <div class="field">
    <%= form.label :retweet_count %>
    <%= form.text_field :retweet_count %>
  </div>

  <div class="field">
    <%= form.label :in_reply_to_user_id_str %>
    <%= form.text_field :in_reply_to_user_id_str %>
  </div>

  <div class="field">
    <%= form.label :favorite_count %>
    <%= form.text_field :favorite_count %>
  </div>

  <div class="field">
    <%= form.label :is_retweet %>
    <%= form.text_field :is_retweet %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
